<!-- About -->
<div id="about" class="tabcontent">
  <div style="margin: 25px 15% 75px;">
      <h3>About</h3>
        <p style="float: left;width:220px;"><img src="assets/img/Pedro-Ramoneda.jpeg" height="200px" width="200px" ></p>
          <p style="hyphens: auto">
            Technology and music are my passions. It is my primary motivation to pursue research in sound and music
              computing and music information retrieval. I have previously researched on Harmony-related topics, and
              I am currently pursuing my PhD studies on the intersection between music performance and artificial intelligence
              at <a href="https://www.upf.edu/web/mtg"> Music Technology Group </a>, Universitat Pompeu Fabra, Barcelona.
          </p>
          <p style="hyphens: auto">
            My PhD thesis, "Can I play it? Understanding piano performance difficulty through explainable and multimodal machine learning"  focuses on audio and symbolic music dataset creation and deep learning for performance difficulty
            analysis under the supervision of <a href="https://mariusmiron.com/"> Dr. Marius Miron </a> and
            <a href="https://www.upf.edu/web/xavier-serra"> Prof. Xavier Serra </a>. We aim to understand the performance
            difficulty, through pedagogically motivated representations, to recommend a customised and optimised learning path
            for each music student and allow musicians explore large music score collections. My ML research interests include explainable machine learning, generative models,
            human-centered AI and curriculum learning.
          </p>
  </div>
</div>