<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://scholar.google.com/citations?user=ZzAI7jwAAAAJ&hl=es">
              <i class="icon-social-google"></i>
            </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://www.researchgate.net/profile/Pedro_Ramoneda">
              <i class="fab fa-researchgate"></i>
            </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="https://github.com/PRamoneda">
              <i class="icon-social-github"></i>
            </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy;PRamoneda pramoneda.github.io 2021</p>
    </div>
</footer>