<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1" style="color:white;">Pedro Ramoneda</h1>
        <h3 class="mb-5" style="color:white;">
          <em>Bringing together Music Education and AI</em>
        </h3>
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="mr-3" style="color: white" href="https://scholar.google.com/citations?user=ZzAI7jwAAAAJ&hl=es">
                   <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mr-3" style="color: white" href="https://twitter.com/PedroRamoneda">
                    <i class="icon-social-twitter"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mr-3" style="color: white" href="https://pramoneda.github.io/cv/Pedro_Ramoneda_RESUME.pdf">
                    CV
                </a>
            </li>
            <li class="list-inline-item">
                <a class="mr-3" style="color: white" href="https://github.com/PRamoneda">
              <i class="icon-social-github"></i>
            </a>
            </li>
        </ul>
        <div class="btn btn_white" style="border: 2px solid white;"><a style="color: white" href="#about">READ MORE</a></div>
    </div>
    <div class="overlay"></div>
</header>