<div id="papers" class="tabcontent" xmlns="http://www.w3.org/1999/html">
    <div style="margin: 25px 15% 75px;">
        <h3>Papers</h3>
        <div>
            Here you can find the list of my publications, as well as the resources associated with them (when available). You can also check my list of publications on <a href="https://scholar.google.com/citations?user=ZzAI7jwAAAAJ&hl=es">Google Scholar</a>.
        </div>
        </br>
        <div class="vtl">
          {% for paper in include.papers %}
          <div class="event">
            <p class="txt"> {{paper.authors}} ({{paper.year}}). <a href="{{ paper.link }}"> {{paper.title}} </a>. {{paper.publication}}.</p>
              {% for tag in paper.tags %}
                <a class="btn" href="{{tag.link}}">{{tag.name}}</a>
              {% endfor %}
          </div>
          {% endfor %}
        </div>
    </div>
    <div style="margin: 25px 15% 75px;">
        <h3>Dissertations</h3>
        <div class="vtl">

          <div class="event">
            <p class="txt"> Master’s thesis, Universitat Pompeu Fabra, Barcelona. Title: Computational methods to study piano music in education context. Under the supevision of Dr. Marius Miron and Prof. Xavier Serra.</p>
          </div>
            <div class="event">
            <p class="txt"> Bachelor’s thesis, University of Porto and University of Zaragoza. Title: Harmonic change detection from musical audio. Under the supevision of Prof. Gilberto Bernardes.</p>
          </div>
        </div>
    </div>
</div>
