<div id="software" class="tabcontent">
    <div style="margin: 25px 15% 75px;">
        <h3>Software Projects</h3>
        <p>
        I am passionate about developing innovative software solutions that contribute to the field of Music Information Research. My projects encompass a wide range of applications, from data analysis tools to interactive applications to enhance the user’s music education experience.
        </p>
        <p>
        You can explore my extensive portfolio of software projects on my <a href="https://github.com/PRamoneda/" target="_blank">GitHub page</a>. Here, you will find the source code, documentation, and detailed explanations of each project, providing insights into my development process and the technologies I employ.
        </p>
        <p>
        In addition to my open-source projects, I have developed demos for industry outreach to showcase the practical applications of my research projects. These demos are designed to provide a tangible experience of the innovations and solutions derived from my work. You can interact with these demos on the <a href="https://musiccritic.upf.edu" target="_blank">MusicCritic platform</a>.
        </p>
        </div>
</div>
