<div id="teaching" class="tabcontent">
    <div style="margin: 25px 15% 75px;">
        <h3>Teaching</h3>
        
    </div>
    <div style="margin: 25px 15% 75px;">
        <h3>Talks</h3>
        <ul>
            <li>
                <strong>DLBCN Deep Learning Barcelona Symposium (2022):</strong> "Integrating Autoregressive Neural Networks for Comprehensive Piano Fingering and Score Difficulty Analysis". <strong>Speaker:</strong> Pedro Ramoneda.
            </li>
            <li>
                <strong>Lecture (2022) at ESMUC:</strong> "Why Music Information Research (MIR)?" - A presentation to 4th year students of the musicology bachelor program, invited by Luca Chiantore. <strong>Speaker:</strong> Pedro Ramoneda.
            </li>
            <li>
                <strong>Seminar (September 2021):</strong> "Reproducibility in Signal Processing Research" - Mirdata, dataset loaders for reproducible research on Music Information Retrieval. <strong>Speakers:</strong> Genis Plaja, Pedro Ramoneda.
            </li>
            <li>
                <strong>Talk (July 2021) at ICMPC-ESCOM:</strong> "Unveiling High-level Discriminant Harmonic Features of Musical Style in the Tonal Interval Space". <strong>Speaker:</strong> Pedro Ramoneda.
            </li>
        </ul>
    </div>
</div>
