<div id="teaching" class="tabcontent">
    <div style="margin: 25px 15% 75px;">
        <h3>Teaching</h3>
        <p>I have had the privilege of serving as a Teaching Assistant to Prof. Xavier Serra, contributing to various courses and practical sessions. My responsibilities and contributions include:</p>
        <ul>
            <li>
                <strong>Music Technology Lab (2022):</strong> Hands-on experience and practical knowledge in music technology and software development (17 hours).
            </li>
            <li>
                <strong>Signals and Systems (2022):</strong> Conducted labs and exercises, helping students grasp complex concepts in signals and systems (42 hours).
            </li>
            <li>
                <strong>Music Technology Lab (2023):</strong> Lectures to enrich students’ understanding of music technology and software development (17 hours).
            </li>
            <li>
                <strong>Signals and Systems (2023):</strong> Conducted labs and exercises, ensuring students’ proficiency in signals and systems (42 hours).
            </li>
            <li>
                <strong>Music Technology Lab (2024):</strong> Lectures to enrich students’ understanding of music technology and software development (17 hours).
            </li>
            <li>
                <strong>Signals and Systems (2024):</strong> Conducted labs and exercises, ensuring students’ proficiency in signals and systems (42 hours).
            </li>
        </ul>
    </div>
    <div style="margin: 25px 15% 75px;">
        <h3>Supervision</h3>
        <ul>
            <li>
                <strong>Music Corpus Annotator: A Local Annotation Tool for Symbolic Sheet Music in Music Information Research</strong> - Bachelor thesis by Nerea Sastre (2023). (Maximum grade: 10/10)
            </li>
            <li>
                <strong>Automatic Score-to-Score Music Generation</strong> - Master thesis by Quoc Duong Nguyen (2023). Co-supervision with Carlos Hernandez Olivan.
            </li>
            <li>
                <strong>Piano Performance Analysis Using Technique Information Extracted from Videos</strong> - Master thesis by Samuel Cantor (2023). Supervising research focused on extracting and analyzing piano performance techniques using video data. Co-supervision with Nazif Can Tamer.
            </li>
            <li>
                <strong>Computational Segmentation of Sheet Music Books for Search and Retrieval</strong> - Master thesis by Samuel Gómez Castro (2024). Supervising research focused on Music sheet Images segmentation.
            </li>
            <li>
                <strong>Esmuc Interns</strong> - Pedro D'Avila (2023) and Lucía Catalán (2024).
            </li>
        </ul>
    </div>
    <div style="margin: 25px 15% 75px;">
    <h3>Talks</h3>
    <ul>
        <li>
            <strong>Seminar at COLT UPF Linguistics Department (November 2024):</strong> "Bridging NLP and Music: From Explainable Difficulty Analysis to LLMs in Musicology". <strong>Speaker:</strong> Pedro Ramoneda.
        </li>
        <li>
            <strong>Talk at Open Data Week (October 2024) at Universitat Pompeu Fabra:</strong> "Evaluación de la Interpretabilidad: Análisis de la Dificultad de Ejecución en Piano mediante Aprendizaje Automático Explicable y Multimodal". <strong>Speaker:</strong> Pedro Ramoneda.
        </li>
        <li>
            <strong>Conservatorio de Alcañiz (April 2024):</strong> "Music Information Research: Analizando Interpretaciones Musicales Automáticamente". <strong>Speaker:</strong> Pedro Ramoneda.
        </li>
        <li>
            <strong>Lecture at UNIR (March 2024):</strong> "Music Information Retrieval and Music Education, Supporting Not Replacing". <strong>Speaker:</strong> Pedro Ramoneda.
        </li>
        <li>
            <strong>Seminar at University of Alicante (February 2024):</strong> "Analyzing Piano Performance Difficulty with Explainable Multimodal Machine Learning". <strong>Speaker:</strong> Pedro Ramoneda.
        </li>
        <li>
            <strong>DLBCN Deep Learning Barcelona Symposium (2023):</strong> "Predicting Performance Difficulty from Multimodality". <strong>Speaker:</strong> Pedro Ramoneda (UPF).
        </li>
        <li>
            <strong>DLBCN Deep Learning Barcelona Symposium (2022):</strong> "Integrating Autoregressive Neural Networks for Comprehensive Piano Fingering and Score Difficulty Analysis". <strong>Speaker:</strong> Pedro Ramoneda.
        </li>
        <li>
            <strong>Lecture (2022) at ESMUC:</strong> "Why Music Information Research (MIR)?" - A presentation to 4th-year students of the musicology bachelor program, invited by Luca Chiantore. <strong>Speaker:</strong> Pedro Ramoneda.
        </li>
        <li>
            <strong>Seminar (September 2021):</strong> "Reproducibility in Signal Processing Research" - Mirdata, dataset loaders for reproducible research on Music Information Retrieval. <strong>Speakers:</strong> Genis Plaja, Pedro Ramoneda.
        </li>
        <li>
            <strong>Talk (July 2021) at ICMPC-ESCOM:</strong> "Unveiling High-level Discriminant Harmonic Features of Musical Style in the Tonal Interval Space". <strong>Speaker:</strong> Pedro Ramoneda.
        </li>
    </ul>
    <div style="margin: 25px 15% 75px;">
    <h3>Research Visits</h3>
        <ul>
            <li>
                <strong>Universidade do Porto (2019-2020):</strong> Full academic year as an Erasmus scholar, collaborating with Gilberto Bernardes on automatic harmonic analysis.
            </li>
            <li>
                <strong>Sony CSL (June 2023 - September 2023):</strong> Funded by Sony CSL, collaborating with Taketo Akama on automatic music generation.
            </li>
            <li>
                <strong>University of Alicante (February 2024):</strong> Funded by the University of Alicante, one-month research visit with José Javier Valero-Mas, focusing on audio classification and Optical Music Recognition (OMR).
            </li>
        </ul>
    </div>

    <div style="margin: 25px 15% 75px;">
        <h3>Awards</h3>
        <ul>
            <li>
                <strong>Open Science Award (2024):</strong> Awarded by Universitat Pompeu Fabra for the best use of open data in a doctoral thesis.
            </li>
        </ul>
    </div>

</div>
