<div id="teaching" class="tabcontent">
    <div style="margin: 25px 15% 75px;">
        <h3>Teaching</h3>
        TODO
<!--        <div class="vtl">-->
<!--          <div class="event">-->
<!--            <p class="txt"> Master’s thesis, Universitat Pompeu Fabra, Barcelona. Title: Computational methods to study piano music in education context. Under the supevision of Dr. Marius Miron and Prof. Xavier Serra.</p>-->
<!--          </div>-->
<!--            <div class="event">-->
<!--            <p class="txt"> Bachelor’s thesis, University of Porto and University of Zaragoza. Title: Harmonic change detection from musical audio. Under the supevision of Prof. Gilberto Bernardes.</p>-->
<!--          </div>-->
<!--        </div>-->
    </div>
    <div style="margin: 25px 15% 75px;">
        <h3>Technology</h3>
        TODO
<!--        <div class="vtl">-->
<!--          <div class="event">-->
<!--            <p class="txt"> Master’s thesis, Universitat Pompeu Fabra, Barcelona. Title: Computational methods to study piano music in education context. Under the supevision of Dr. Marius Miron and Prof. Xavier Serra.</p>-->
<!--          </div>-->
<!--            <div class="event">-->
<!--            <p class="txt"> Bachelor’s thesis, University of Porto and University of Zaragoza. Title: Harmonic change detection from musical audio. Under the supevision of Prof. Gilberto Bernardes.</p>-->
<!--          </div>-->
<!--        </div>-->
    </div>
</div>
